<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새 레시피 작성</title>
</head>
<body>
<h1>새 레시피 작성</h1>
<form th:action="@{/}" th:object="${recipe}" method="post">
    <label>레시피명: </label>
    <input type="text" th:field="*{recipeName}" /><br/>
    <label>재료: </label>
    <input type="text" th:field="*{ingredients}" /><br/>
    <label>조리법: </label>
    <textarea th:field="*{cookery}" required></textarea><br/>
    <label>요리시간: </label>
    <input type="text" th:field="*{cookingTime}" /><br/>
    <label>난이도: </label>

    <select th:field="*{difficultyLevel}">
        <option value="쉬움">쉬움</option>
        <option value="보통">보통</option>
        <option value="어려움">어려움</option>
    </select><br/>
    <button type="submit">저장</button>
</form>
</body>
</html>