<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새 레시피 작성</title>
</head>
<body>
<h1>새 레시피 작성</h1>
<form th:action="@{/}" th:object="${recipe}" method="post">
    <label>레시피명: </label>
    <input type="text" th:field="*{recipeName}" /><br/>
    <label>조리법: </label>
    <textarea th:field="*{cookery}" required></textarea><br/>
    <label>요리시간: </label>
    <input type="text" th:field="*{cookingTime}" /><br/>
    <label>난이도: </label>

    <select th:field="*{difficultyLevel}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">8</option>
        <option value="10">10</option>
    </select><br/>
    <button type="submit">저장</button>
</form>
</body>
</html>