<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>레시피 상세 정보</title>
</head>
<body>
<h1 th:text="${recipe.recipeName}">레시피</h1>

<p><strong>재료:</strong> <span th:text="${recipe.ingredients}">재료 리스트</span></p>
<p><strong>조리법:</strong> <span th:text="${recipe.cookery}">조리법 설명</span></p>
<p><strong>요리 시간:</strong> <span th:text="${recipe.cookingTime}">요리 시간 (분)</span> 분</p>
<p><strong>난이도:</strong> <span th:text="${recipe.difficultyLevel}">난이도</span></p>

<a th:href="@{/edit/{id}(id=${recipe.id})}">수정</a>
<a th:href="@{/}">목록으로 돌아가기</a>
</body>
</html>
